h1 {
  color: var(--accent-400);
  appearance: none;

  :host([aria-current='true']) & {
    color: violet;
  }

  h2 {
    color: blue;

    h3 {
      color: yellow;

      h4 {
        color: green;

        h5 {
          color: purple;

          h6 {
            color: orange;
          }
        }
      }
    }
  }
}

.colors {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.color {
  border-radius: 50%;
  border: solid 4px white;
  width: calc(100% / 9);
  aspect-ratio: 1;
}

div {
  padding: 1em;

  &[aria-hidden='true'] {
    background-color: grey;
  }
}

:host {
  &[aria-disabled='true'] {
    color: grey;
  }
}
