h1 {
  color: var(--accent-400);
  appearance: none;

  :host([aria-current='true']) & {
    color: violet;
  }

  h2 {
    color: blue;

    h3 {
      color: yellow;

      h4 {
        color: green;

        h5 {
          color: purple;

          h6 {
            color: orange;
          }
        }
      }
    }
  }
}

div {
  padding: 1em;

  &[aria-hidden='true'] {
    background-color: grey;
  }
}

:host {
  &[aria-disabled='true'] {
    color: grey;
  }
}
